.grid-even-columns {
    display: grid;
    grid-template-columns: 50% 50%;
 
    gap: 10px; /* Optional: Adds space between grid items */
}

.grid-even-columns > div {
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
    border: 1px dashed purple;
}

.grid-even-columns > div:hover {
    transform: scale(1.1); /* Scales up the box on hover */
    border: none;
}
